In [2]:
# importing necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import export_graphviz

In [6]:
df = pd.read_csv("C:/Users/stanl/Downloads/dirty_decision_tree_dataset.csv")
df.head()

    Age Income Marital_Status Credit_Score  Defaulted
0  25.0  50000         Single          720        0.0
1  34.0    NaN        Married          680        1.0
2  28.0    62K         Single          NaN        0.0
3  45.0  72000            NaN          800        0.0
4   NaN  55000       Divorced          650        NaN

In [8]:
missing_values_loc = df.isnull().sum()
missing_values_loc

Age               2
Income            3
Marital_Status    2
Credit_Score      3
Defaulted         2
dtype: int64

In [10]:
missing_total = df.isna().any()
missing_total

Age               True
Income            True
Marital_Status    True
Credit_Score      True
Defaulted         True
dtype: bool