In [2]:
# importing necessary libraries
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier, plot_tree
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import export_graphviz

In [3]:
#load the dataset
df = pd.read_csv("C:/Users/stanl/Downloads/dirty_decision_tree_dataset.csv")
df.head()

    Age Income Marital_Status Credit_Score  Defaulted
0  25.0  50000         Single          720        0.0
1  34.0    NaN        Married          680        1.0
2  28.0    62K         Single          NaN        0.0
3  45.0  72000            NaN          800        0.0
4   NaN  55000       Divorced          650        NaN

In [4]:
#check out missing values
missing_values_loc = df.isnull().sum()
missing_values_loc

Age               2
Income            3
Marital_Status    2
Credit_Score      3
Defaulted         2
dtype: int64

In [5]:
# another way of checking the missing values
missing_total = df.isna().any()
missing_total

Age               True
Income            True
Marital_Status    True
Credit_Score      True
Defaulted         True
dtype: bool

In [6]:
# general info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Age             8 non-null      float64
 1   Income          7 non-null      object
 2   Marital_Status  8 non-null      object
 3   Credit_Score    7 non-null      object
 4   Defaulted       8 non-null      float64
dtypes: float64(2), object(3)
memory usage: 532.0+ bytes

In [7]:
# dropping all the empty columns
df = df.dropna()

In [8]:
# Fixing Incorrect Data Types
df["Income"] = pd.to_numeric(df["Income"], errors='coerce')  # Convert to numeric
df["Credit_Score"] = pd.to_numeric(df["Credit_Score"], errors='coerce')
df = df.dropna()  # Drop rows again after fixing types

In [9]:
# Encode Categorical Variables (Marital_Status)
df["Marital_Status"] = df["Marital_Status"].astype("category").cat.codes